@mixin button-theme {
    // font-family: 'Signika Negative', sans-serif;
    &:hover{
        color: $highlight-color;
        border: $highlight-color 1px solid;
        cursor: pointer;
    }
    border: $text-color 1px solid;
    background: none ;
    color: $text-color;
    
}

@mixin a-theme{
    &:hover{
        color: $highlight-color;
        cursor: pointer;
    }
    color: $text-color;
    text-decoration: none;
}

@mixin MP-Meme-Img($picWidth){
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
       
    div{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-sizing: border-box;
        img{
            width: $picWidth;
            height: $picWidth;
            object-fit: cover;
            border: white 2px solid;
        }  
    }
}

@mixin MP-Meme-Text($sizeMult){
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: content-box;
    p{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        display: inline;
        color: white;
        font-size: 2.5rem * $sizeMult;
        width: 95%;
        text-align: center;
        -webkit-text-stroke: 1px black;
        line-height: 7rem * $sizeMult;
        &.medium-response{
            font-size: 2.5rem * $sizeMult;
            line-height: 6rem * $sizeMult;
        }
        &.big-response{
            line-height: 4.5rem * $sizeMult;
            font-size: 1.8rem * $sizeMult;
        }
    }
}

@mixin player-display($sizeMult) {
    margin: 2rem * $sizeMult;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img{
        box-sizing: border-box;
        background-color: lightblue;
        border: black 1px solid ;
        width: 12rem * $sizeMult;
    }
    
    h3{
        box-sizing: border-box;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1.2rem *  $sizeMult;
        letter-spacing: 1px;
        width: 12rem * $sizeMult;
        color: white;
        background-color: black;
        text-align: center;
        margin: 0;
        padding: .5rem * $sizeMult;
    }
    
}