.scoreboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h2{
        font-size: 2rem;
    }
}
.player-score{
    width: 30%;
    @include player-display(.5);
    // display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .4rem;
    h2{
        font-size: 1.4rem;
    }
    p{
        font-size: 1.5rem;
    }
}