button{
    @include button-theme;
    font-family: 'Signika Negative', sans-serif;
}

.header-padded{
    padding-top: 6rem;
}

.App{
    // box-sizing: border-box;
    // padding-top: 6rem;
    background-color: $backgrounds;
    min-height: 100vh;
}

body{
    font-family: 'Signika Negative', sans-serif;
}

